{% load staticfiles %}
<html>
<head>
	<title>Movie Search</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="//bootswatch.com/superhero/bootstrap.min.css">
</head>
<body>
	<div class="container">
<h1>Hello, world!</h1>

<h3>Search for your favourite movies here. ;)</h3>
<h5>The user ratings are calculated using IMDB and Rotten Tomatoes data.</h5>

<form method="GET" action="/search">
	<div class="form-group">
<input class="form-control" type="text" name="q">
</div>
<input type="submit" class="btn btn-default">
<br><br>
{% if search == True %}

{% if movieData.response == "True" %}
<img src="{{ movieData.posterURL }}">
<br>
<h3>{{ movieData.title }} ({{ movieData.year }})</h3>

{% if 'userrating' in movieData %}
<p><img src="{% static "assets/images/star.ico" %}" width="40" height="40">&nbsp;&nbsp;{{ movieData.userrating }}% users liked it</p>
{% else %}
<p>Ratings not available.</p>
{% endif %}

<h5>Genre: {% for genre in movieData.genres %} {{ genre }} {% endfor %}</h5>
{{ movieData.plot }}<br>
Released in: {{movieData.language}}
{% else %}
<p>Movie not found.</p>
{% endif %}


{% endif %}
</div>
</body>
</html>